.searchBox {
  min-height: 50px;
  min-width: 20%;
  font-size: 1.6rem;
  background: #373737;
  color: white;
  padding-left: 10px;
}

.searchContainer {
  text-align: end;
  max-width: 1320px;
  margin: 0 auto;
  margin-bottom: 16px;
  padding-top: 20px;
}

.fas.fa-search {
  font-size: 14px;
}

@media (max-width: 960px) {
  .searchBox {
    min-width: 50%;
  }
  .searchContainer {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .searchBox {
    min-width: 80%;
  }
}
