#root {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
}

main {
  padding: 0px 50px;
  border-left: 20px solid #c71616;
  border-right: 20px solid #c71616;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  background: #141414;
}

h2 {
  font-size: 2.1rem;
}

.list {
  /* border: solid 5px green; */
  width: 20%;
  min-width: 300px;
  max-height: 593px;
  margin: 0;
  overflow: scroll;
  overflow-x: hidden;
  list-style: none;
  text-align: center;
  text-transform: capitalize;
}

.list::-webkit-scrollbar {
  background: var(--main-color);
  width: 1.6rem;
}

.listl::-webkit-scrollbar-corner {
  background: gray;
}

.list::-webkit-scrollbar-thumb {
  background: #c71616;
}

.list li {
  font-size: 1.8rem;
  background: #373737;
  border-left: solid 4px #c71616;
  width: 90%;
  margin: 10px auto;
  transform: scale(1);
  transition: all 0.3s ease;
  padding: 4px 0;
}

.list li:hover {
  cursor: pointer;
  transform: scale(1.07);
  border-left: solid 4px #c71616;
}

.list li:active {
  background: lightslategray;
  color: #141414;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1320px;
  margin: 0 auto;
}

.searchInput {
  min-height: 50px;
  min-width: 75%;
  font-size: 1.6rem;
  background: #373737;
  color: white;
  padding-left: 10px;
}

.searchForm {
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  padding: 30px 0px;
}

.fas.fa-search {
  font-size: 14px;
}

@media (max-width: 960px) {
  .list {
    max-height: 500px;
    width: 70%;
  }
  .searchBox {
    min-width: 50%;
  }
  .searchContainer {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .list {
    max-height: 150px;
    width: 95%;
  }
  .searchBox {
    min-width: 80%;
  }

  main {
    padding: 0;
  }

  form {
    text-align: center;
  }

  .wrapper {
    max-height: 575px;
    overflow-y: scroll;
  }
}
